/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; /* Light blue background */
    margin: 0;
    padding: 20px;
}

.navbar {
    margin-bottom: 20px;
}

.language-selector {
    float: right;
    margin-top: 10px;
}

h1 {
    color: #004080;
    margin-bottom: 20px;
}

button {
    background-color: #004080;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #002d5a;
}

/* styles.css */

.navbar-brand img {
    
    margin-right: 20px; /* Adds some space between the logo and the text */
}

/* Footer styling */
footer {
    padding: 10px;
    background-color: #f8f9fa;
    border-top: 1px solid #e0e0e0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #004080;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Image styling */
.container img {
    max-width: 100%;  /* Ensure the image is responsive */
    height: auto;     /* Maintain the aspect ratio */
    border-radius: 8px; /* Optional: Add rounded corners to the image */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow for depth */
    margin-top: 20px; /* Space above the image */
    margin-bottom: 20px; /* Space below the image */
}

.required {
    color: red;
 }
.error-message {
    color: red;
    font-size: 0.9em;
    display: none; /* Hide by default */
}


.container {
    background-color: rgba(211, 242, 248, 0.8); /* White background with some transparency */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
}
